#bg-2 {
    background-image: url(../../assets/bg-main.png);
    background-size: cover;
    color: #fffdd0;
    background-attachment: fixed;
    max-width: 100%;
    height:auto;
}
p {
    font-family: 'Bangers', cursive;
}
h1 {
    font-family: 'Bangers', cursive;
}
.sizer {
    height: 50%;
    width: auto;
}